html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*清單垂直ScrollBar*/
/*vh 是「視窗高度」的單位，70vh 代表 70% 的瀏覽器高度。*/
.ListVerticalScrollBar {
    max-height: 70vh;
    overflow-y: auto;
}

.VisitsFilter{
    width: 250px;
}

/*首頁到訪紀錄照片Carousel的箭頭陰影*/
.CarouselControlShadow {
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    box-shadow: 0 0 8px #000;
    width: 2rem;
    height: 2rem;
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.sortable-placeholder {
    background: #f0f0f0;
    border: 2px dashed #aaa;
    min-height: 200px;
    margin: 0.25rem;
}